@charset "utf-8";
*{margin: 0; padding: 0;}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

body{
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    min-width:1350px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    background-color: #f1eaea;
}


/*---header---*/

#header{
    background-color: #73232c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}
#header_inner{
    width: 1320px;
    margin: 0 auto;
}
#nav{
    width: 100%;
    height: 100px;
    padding: 40px 0;
    box-sizing: border-box;
    vertical-align: middle;
   
}
.left{
    float: left;
    margin-left: 10px;
}
.right{
    float: right;
    margin-right: 10px;
}
.left>li, .right>li{
    float: left;
    color: #eaeef1;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 0 85px;
}
#nav>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1>a>img{
    display: block;
}
#nav>ul>li:hover{
    background: url(../img/menu_hover.png) no-repeat center bottom;
    padding-bottom: 5px;
}
.on{
    background: url(../img/menu_hover.png) no-repeat center bottom;
    padding-bottom: 5px;
}
.sub{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
}
.sub_inner{
    width: 1320px;
    margin: 0 auto;
}
.sub_inner>ul>li{
    color: #a57177;
    font-size: 18px;
    font-weight: bold;
    float: left;
    padding: 0 100px;
    letter-spacing: 1px;
}
.sub_inner>ul{
    padding: 20px 0;
    margin-left: 380px;
}
 
/*---container---*/
/*mainbanner*/
#main_bn{
    background: url(../img/commu_bn.jpg) no-repeat center top;
    width: 100%;
    height: 883px;
    background-size: cover;
    
}
.bn_text{
    width: 1320px;
    margin: 0 auto;
    padding-top:450px;
    
}
.bn_text>h1{
    font-size: 36px;
    font-family:'Noto Serif', serif;
    line-height: 100%;
    padding-bottom: 20px;
    font-weight: 500;
    
}
.bn_text>h2{
    font-size: 20px;
    color: #666;
    font-weight: 400;
}

/*q&a*/
#qa>h1, #review>h1{
    padding: 50px 0;
    color: #73232c;
    letter-spacing: 2px;
    font-size: 25px;
}
#qa_inner{
    background-color: #fff;
}
#qa_box{
    width: 1320px;
    margin:0 auto;
    padding: 100px 0;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.top{
    border-top: #73232c 3px double;
    border-bottom: #73232c 3px double;
}

th,td{
    padding: 20px 10px;
    border-bottom: #d4a2a8 1px solid;
}
.page{
    width: 260x;
    padding-left: 532px;
    padding-top: 10px;
}
.write_btn>a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #eee;
}
.write_btn{
    float: right;
}

.write_btn>a:hover{
    background-color: #73232c;
    color: #fff;
    transition: all 0.3s;
}
.page>li{
    float: left;
    padding: 30px 20px 20px;
    
}
.page_on{
    font-weight: bold;
}

/*review*/
#review_inner{
    background-color: #fff;
}
#review_box{
    width: 1320px;
    margin: 0 auto;
    padding: 80px 0;
}

.best_review{
    padding: 30px;
    border: #ccc 1.5px solid;
    width: 1100px;
    box-sizing: border-box;
    text-align: left;
    margin: 50px 108px 0;
}

.best_review>li{
    float: left;
    padding: 0 36px;
    border-left: #ccc 1px solid;
}
.best_review>li:nth-child(1){
    border-left: none;
}
.best_review>li:hover>.best_img{
    transform: scale(1.1);
    transition: all 0.3s;
}
.best_img{
    padding-top: 10px;
}
.best_review img{
    display: block;
    float: left;
}
.best_text{
    float: right;
    padding-left: 20px;
}
.g{
    color: #aaa;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    padding: 10px 0;
    padding-right: 108px;
    margin-bottom: 60px;
}
.search{
    border: 1px #333 solid;
    padding: 8px 10px;
    margin-left: 110px;
    width: 180px;
    height: 20px;
    border-radius: 10px;
    float: left;
    background:url(../img/q2.png) no-repeat 150px center;
}
.sel{
    float: right;
    margin-right: 110px;
    border: none;
}


.review_content{
    padding: 80px 0;
    width: 1100px;
    box-sizing: border-box;
    margin: 0 108px;
}
.title{
    overflow: hidden;
    padding: 10px 10px;
    background-color: #f1eaea;
    border-top: #73232c 1px solid;
}
.title_in{
    float: left;
    font-size: 16px;
}
.plus{
    float: right;
    margin-right: 40px;
}
.text_info{
    padding: 20px;
    background-color: #fff;
    text-align: left;
    display: none;
}
.re_text{
    float: right;
    padding-right: 50px;
}

.bor{
    border-bottom: #a57177 1px solid;
    padding-bottom: 50px;
    margin-bottom: 10px;

}
.re_text>h4, .re_text1>h4{
    color: #aaa;
    font-size: 16px;
    font-weight: 300;
}
.re_text>h5, .re_text1>h5{
    font-size: 14px;
    padding: 10px 0;
}
.re_text>img.review_img{
    display: block;
}
.review_img{
    float: left;
}
/*플러스모양 회전*/
.turn .title img{transform:rotate(45deg);}
.plus img{transition:transform 0.5s;}

a.recom{
    display: inline-block;
    padding: 10px 20px;
    border: #73232c 1px solid;
}
.recom{
    float: right;
    margin: 50px 0;
}

a.recom:hover{
    border: #73232c 1px solid;
    background-color: #73232c;
    color: #fff;
    transition: all 0.5s;
}

/*---footer---*/

#footer{
    background-color: #73232c;
    color: #fff;
}
#footer_inner{
    width: 1320px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: left;
    line-height: 18px;
}
#footer_inner>h1{
    float: left;
    padding:40px 50px 0;
}

.foot_left{
    float: left;
    padding-left: 30px;
    
}
.foot_right{
    float: right;
    padding-right: 150px;
}

.foot_left ul li{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
#footer_inner h3{
    padding-bottom: 15px;
    clear: both;
}
.foot_left h3{
    padding-top: 10px;
}

.footer_sns>li>a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #a57177;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}
.footer_sns>li>a>img{
    display: block;
    width: 100%;
}
.footer_sns>li>a:hover{
    background-color: #a12231;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.w{
    color: #aaa;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}
.pad{
    padding-top: 10px;
}

#btn{
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 30;
}

#btn>a{
    display: block;
}

.page_btn{
    font-weight: bold;
    font-size: 18px;
}
